body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
}

header nav select {
    margin-left: 2em;
    margin-right: 5em;
}

#order-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 60vh;
    height: 70vh;
    max-height: 80vh;
    margin: 1em;
}

#order-view div {
    width: 45%;
    border: 0.2em solid black;
    border-radius: 9px;
}

#order-view div h2 {
    margin: 0.2em 0.5em;
    text-align: center;
}

.order-item {
    margin: 0.4em;
    font-size: 2em;
}

.order-item li {
    font-size: 0.75em;
    text-transform: capitalize;
}

